@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import "header.css"; /* Load Header Elements */
@import "filters.css"; /* Load Filter Elements */
@import "content.css"; /* Load Main Content and Sidebar */
@import "footer.css"; /* Load Footer Elements */

/* GENERAL ELEMENTS */
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #424242;
    scroll-behavior: smooth;
}

.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header header"
        "main-filter main-filter main-filter main-filter"
        "main main main sidebar"
        "footer footer footer footer";
}

/* MEDIA QUERIES */
@media screen and (max-width: 1400px) {
    .card > .post-content > p {
        height: 110px;
    }
}

@media screen and (max-width: 1200px) {
    .card > .post-content > p {
        height: 100px;
    }

    .card > .post-content > .title {
        height: 60px;
    }

    .card > .post-buttons > button {
        width:27%;
    }

    .card > .post-buttons {
        padding-left: 1rem;
    }
}

@media screen and (max-width: 1000px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 1em;
        grid-template-areas: 
            "header"
            "main-filter"
            "main"
            "sidebar"
            "footer";
    }
    
    nav > ul {  
        font-size: 1rem;
        transition: 0.2s ease-in-out;
    }

    .logo{
        font-size: 1.5rem;
        padding-left: 2vw;
    }

    .logo > span {
        font-size: 2.5rem;
        position: relative;
        top: 0.25rem;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 1em;
        grid-template-areas: 
            "left"
            "middle"
            "right";
    }

    footer > .left{
        text-align: center;
        padding-bottom:0.25rem;
        border-bottom: 1px solid #cecece;
    }

    footer > .middle {
        padding-left: calc(50% - 8rem);
        padding-bottom:0.25rem;
        border-bottom: 1px solid #cecece;
    }

    footer > .right {
        text-align: center;
        padding-bottom:0.25rem;
        margin: 1.5rem 8rem;
    }

    .card > .post-content > p {
        height: 130px;
    }

    .main {
        padding-right: 1vw;
        padding-left: 0vw;
    }

    .sidebar {
        padding-right: 1vw;
        padding-left: 0vw;
    }

    .sidebar > .recent-posts > .recent-post-item {
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "thumb content content content content content"
            "thumb content content content content content";
    }

    .sidebar > .recent-posts > .recent-post-item > .recet-post-thumb{
        margin: auto;
    }

    .sidebar > .recent-posts:last-child .recent-post-item{
        border: none;
    }

    .big-post-container {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .author {
        border-bottom: 2px solid #fa2964;
    }

    .sidebar > .lowered {
        margin-top: 0;
    }

    .sidebar {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 800px) {
    .card > .post-content > p {
        height: 130px;
    }

    .card > .post-content > .title {
        height: 80px;
    }
}

@media screen and (max-width: 600px) {
    header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .logo {
        text-align: center;
        padding-bottom:0.25rem;
    }

    nav > ul {  
        display: grid;
        font-size: 1.25rem;
    }

    nav > ul > li {  
        border-top: 1px solid #cecece;
        padding: 0.35rem;
    }

    header {
        padding: 0;
    }

    .main > .articles {
        display: grid;
        text-align: center;
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: minmax(400px, auto);
        grid-gap: 3rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
    }

    .card > .post-content > .title {
        height: auto;
    }

    .card > .post-buttons > button {
        width:27%;
    }

    .card > .post-buttons {
        padding-left: 1rem;
    }

    .card > .post-content > p {
        height: auto;
        padding-bottom: 1rem;
    }

    footer {
        padding-top: 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "left"
            "middle"
            "right ";
    }

    footer > .right {
        text-align: center;
        padding-bottom:0.25rem;
        margin: 1.5rem 4rem;
    }

    footer > .middle {
        padding-top: 0;
    }

    footer > .middle {
        padding-left: calc(40% - 8rem);
    }

    .big-post-container > .post-content > .img-with-text {
        display: block;
    }

    .big-post-container > .post-content > .img-with-text > figure {
        margin: auto;
        margin-bottom: 1rem;
    }

    .share > button {
        padding: 0.9rem 0.6rem;
        width: 100%;
        margin: auto;
        margin-bottom: 10px;
    }
}